<!-- inherit from base.html -->
{% extends 'portfolio_app/base_template.html' %}




{% block content %}

{% if user.is_authenticated %}
<h2>Add a file below:</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
</form>

{% else  %}
        <h3> Please login to add a file. </h3>
{% endif %}

<br>

<h3> Files currently uploaded <h3>
{% for file in folder_contents %}
       
        <li>{{ file }}</li>

    
        <form method="post" action="{% url 'delete_file' file %}">
                {% csrf_token %}
                <input type="submit" value="Delete File" style="width: 150px; height: 40px;font-size: 14px; background-color: darkred; color: white;">
        </form>

        <!-- <a href="{% url 'download_file' 'file_name.ext' %}" download>Download  File</a> -->

        <br> <br>
 {% endfor %}


</ul>
{% endblock %}
